@model Freelance.Models.User
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Choose...",
        Value = "",

        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Client",
        Value = "Client",

    });
    listItems.Add(new SelectListItem
    {
        Text = "Freelancer",
        Value = "Freelancer"

    });
}





@using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" , @class="mt-4 w-50" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        <div class="mb-3">
            <label style="cursor: pointer;" for="file-input">
                <img title="Select Photo" class="avatar avatar-128 bg-light text-white p-2"
                     src="https://raw.githubusercontent.com/twbs/icons/main/icons/person-fill.svg" />
            </label>

            <input id="file-input" name="ImageFile" style="display: none;" onchange="previewImage()" type="file" />
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="RegisterFirstName" class="form-label">First Name</label>
            @Html.EditorFor(u => u.FirstName, new { htmlAttributes = new { @class = "form-control", @id = "RegisterFirstName", @type = "text", @required = "" } })
            @Html.ValidationMessageFor(u => u.FirstName, "", new { @class = "text-danger" })

        </div>
        <div class="col mb-3">
            <label for="RegisterLastName" class="form-label">Last Name</label>
            @Html.EditorFor(u => u.LastName, new { htmlAttributes = new { @class = "form-control", @id = "RegisterLastName", @type = "text", @required = "" } })
            @Html.ValidationMessageFor(u => u.LastName, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="row">

        <div class="col mb-3">
            <label for="RegisterUserName" class="form-label">UserName</label>
            @Html.EditorFor(u => u.UserName, new { htmlAttributes = new { @class = "form-control", @id = "RegisterUserName", @type = "text", @required = "" } })
            @Html.ValidationMessageFor(u => u.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="col mb-3">
            <label for="RegisterEmail" class="form-label">Email address</label>
            @Html.EditorFor(u => u.Email, new { htmlAttributes = new { @class = "form-control", @id = "RegisterEmail", @type = "text", @required = "" } })
            @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="col mb-3">
                <label for="RegisterPassword" class="form-label">Password</label>
                @Html.EditorFor(u => u.Password, new { htmlAttributes = new { @class = "form-control", @id = "RegisterPassword", @type = "password", @required = "" } })
                @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" onclick="ShowPassword()" class="form-check-input" id="ShowPasswordCheckBox">
                <label class="form-check-label" for="ShowPasswordCheckBox">Show Password</label>
            </div>
        </div>
        <div class="col mb-3">
            <label for="RegisterPhoneNumber" class="form-label">Phone Number</label>
            @Html.EditorFor(u => u.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @id = "RegisterPhoneNumber", @type = "text", @required = "" } })
            @Html.ValidationMessageFor(u => u.PhoneNumber, "", new { @class = "text-danger" })
        </div>


    </div>
    <div class="mb-3 form-floating row mx-1">

        @Html.DropDownListFor(u => u.UserType, listItems, new { @class = "form-select", @id = "RegisterType", @required = "" })
        <label for="RegisterType">Register As</label>
    </div>
    <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary">Register</button></div>
}
